
@{
    Layout = null;

    List<Employee_Portal_MVC.Models.NavModel> NavList = new List<Employee_Portal_MVC.Models.NavModel>()
    {
       new Employee_Portal_MVC.Models.NavModel(){Text = "Department",Value="/Department/Index"},
       new Employee_Portal_MVC.Models.NavModel(){Text = "Employee",Value="/Employee/Index"},
       new Employee_Portal_MVC.Models.NavModel(){Text = "Dummy",Value="/Employee/Index",IsAuthorized =true}
   };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee Portal - @ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/toastr/toastr.min.css" rel="stylesheet" />

    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/toastr/toastr.min.js"></script>

    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
</head>
<body>

    @Html.Partial("_NavigationView", NavList)

    <div id="ContentPage">
        @RenderBody()
    </div>

    @Html.Partial("_NotificationView")

    @RenderSection("JavaScripts", false)

</body>
</html>
